.thebod {
    font-family: "gesta-1","gesta-2",Helvetica, Arial, Palatino, Bookman;
    /*color: #043a6b; blue #043a6b , orange #A66100, light brown #bf8430 */
    background-color: #efefef;
}

.title {
    font-family: "great-primer-sc-1","great-primer-sc-2",Helvetica, Arial, Palatino, Bookman;
    font-size: 6em;
    font-weight: bold;
    color: #8e0303;
}

.mid {
    padding-top: 90px;
}

.top {
    height: 40px;
}

.footer {
    color: #8e0303;
    padding-top: 40px;
}

.footer a {
    text-decoration: underline;
    color: #8e0303;
}
.footer a:hover {
    text-decoration: none;
}

#flash_errors {
    border: thin solid #8e0303;
    color: #8e0303;
    background-color: #ff7a73;
}

#flash_notice {
    border: thin solid #348017;
    color: #348017;
    background-color: #c3f8b8;
}

.mail_button {
    font-family: "gesta-1","gesta-2",Helvetica, Arial, Palatino, Bookman;
    color: #ffffff;
    background: url(/images/red-glossy-button.png) no-repeat;
    border: 0;
    height: 30px;
    width: 101px;
}

footer li {
    display: block;
    height: 64px;
    width: 64px;
}

#social-nav
{
    list-style: none; /*removes the underline below the link*/
    padding: 0; /*removes the padding*/
}
#social-nav li
{

    float: left; /*this makes the element displays in a horizontal line*/
    width: 64px; /*This allows the picture to be fit in the block*/
    height: 64px; /*This allows the picture to be fit in the block*/
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: bottom;

}
#social-nav li:hover
{
    background-position: 0 -3px;
}
#social-nav li a
{
    display: block;  /*The element will be displayed as a block level element */
    width: 64px; /*This allows the picture to be fit in the block*/
    text-decoration: none; /*removes all text decoration*/
    padding-top: 64px;
    color: #000000;
    font-weight: normal;
    text-align: center;
}

.twit {
    background: url(/images/red-glossy-twitter.png) no-repeat;
}

.facebook {
    background: url(/images/red-glossy-facebook.png) no-repeat;
}

.about {
    background: url(/images/red-glossy-about.png) no-repeat;
}

.blog {
    background: url(/images/red-glossy-blog.png) no-repeat;
}

.line {
    height: 2px;
    background-color: #000000;
    padding: 0;
}

.logo {
    background: url(/images/red-white-pearl-hat.png) no-repeat;
    height: 256px;
    width: 256px;
}

.extra {
    height: 256px;
}