.thebod {
  font-family: Palatino, Bookman, Helvetica, Arial;
  font-size: 14px;
  color: #043a6b; /*blue #043a6b , orange #A66100 */
   /* light brown #bf8430; */
}

.tall {
    height: 430px;
}

.top {
    height: 50px;
}

.footer {
    color: #A66100;
}

.footer a {
    text-decoration: underline;
    color: #A66100;
}
.footer a:hover {
    text-decoration: none;
}

.flash {
    padding-top: 120px;
}