<% title ApplicationController::Website_name + " | About Us" %>


<div class="span-15 last">
  <h1>About CollegeGoer</h1>


  <h2>Ryan Swanstrom</h2>

  <p>Some Facts about Ryan:
  </p>
  <ul>
    <li>His nickname is "GooF"</li>
    <li>He is married with 3 (almost 4) children</li>
    <li>He lives in South Dakota</li>
  </ul>
</div>
