<% title ApplicationController::Website_name + " | About Us" %>


<div class="span-15 last">
  <h1>About CollegeGoer</h1>
  <p>
    CollegeGoer is being built by Ryan Swanstrom. Ryan used to be a Computer
    Science professor, and he realized there is not a great place for colleges
    to find information about potential students.  Also, there was not a good
    place for a student to find information about all the colleges that were
    best for her/him.
  </p>
  <p>
    Therefore, Ryan is creating CollegeGoer to help the right students get
    to the right school.
  </p>


  <h2>Ryan Swanstrom</h2>
  <p>
    For the past 7 years, Ryan has been involved in the software industry,
    either as a software engineer or a professor.  
    Ryan has a bachelor's degree from the University of Sioux Falls and a
    master's degree from Iowa State University.
  </p>

  <p>
    Some Facts about Ryan:
  </p>
  <ul>
    <li>He is married with 4 children</li>
    <li>He lives in South Dakota</li>
    <li>Since 5th grade, his nickname has been "GooF"</li>
  </ul>
  <p>
    See more about Ryan at his
    <a href="http://about.me/ryanswanstrom">About.me page</a>.
  </p>
</div>
