<% title ApplicationController::Website_name + " | College Admission is about to change" %>


  <div class="span-15 last">

    <ul>
      <li><strong>Students:</strong> Find Colleges and Universities other are interested in attending. </li>
      <li><strong>Institutions:</strong> Don't just engage students, engage the right right students. </li>
    </ul>

    If so, enter your email address to be notified when the site launches. <br/>
    <% form_for :email, :url => {:action => "create"} do |f| %>
      <%= f.text_field :email%>
      <input id="submit" name="submit" class="mail_button" type="submit" value="Notify Me" class="b_button"/>
    <% end %>

    <div class="span-15 last">
      <% if !flash.empty? %>
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
      <% end %>
    </div>
  </div>
